# https://github.com/github/gitignore/blob/master/Global/SBT.gitignore
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

.metals
.bloop
.serverless/

**.bsp/
**.scala-build/


bootstrap

.idea/

.vscode/launch.json

env.yml

run.sh
